*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image:url(../imgs/jungla2.png);
    background-size:cover;
    font-family: 'Press Start 2P', cursive;
}

.titulo{
    font-size: 5rem;
    text-align: center;
    color: rgb(70, 196, 70);
    padding-top: 12rem;
    text-shadow: 0.4rem 0.4rem 0.1rem black;
    text-transform: uppercase;
    /* display: flex;
    flex-direction: column; */
}

.titulo span{
    color: rgb(245, 77, 77);
    margin-top: 3rem;
}

.contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    position: relative;
}

.inputNombre{
    background-color: rgba(0, 0, 0, 0.671);
    box-shadow: .4rem .4rem 0rem rgba(0, 0, 0, 0.808);
    height: 30%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputNombre form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.inputNombre label{
    font-size: 1.3rem;
    text-transform: uppercase;
    color: whitesmoke;
}

.inputNombre form input:hover{
    background-color: rgb(221, 220, 220);
}

.inputNombre form input{
    font-family: 'Press Start 2P', cursive;
    border: none;
    height: 3rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
    transition: all 0.4s;
    text-transform: uppercase;
    border: 0.1rem solid rgba(16, 49, 16, 0.815);
    border-radius: 0.1rem;
    cursor: pointer;
}

.inputNombre form button{
    font-family: 'Press Start 2P', cursive;
    background-color:rgba(51, 153, 51, 0.966); /* Green */
    border: none;
    color: rgb(224, 224, 224);
    height: 3rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
    transition: all 0.4s;
    text-transform: uppercase;
    border: 0.1rem solid rgba(16, 49, 16, 0.815);
    border-radius: 0.1rem;
    box-shadow: .3rem .3rem 0rem rgba(0, 0, 0, 0.808);
    cursor: pointer;
    width: 100%;
}

.inputNombre form button:hover{
    background-color:   rgba(76, 196, 76, 0.938) ;
    box-shadow: .1rem .1rem 0rem rgba(0, 0, 0, 0.808);
    color: rgb(34, 77, 15);
}

.botones{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
}

.botones button{
    font-family: 'Press Start 2P', cursive;
    background-color:    rgba(51, 153, 51, 0.966); /* Green */
    border: none;
    color: rgb(224, 224, 224);
    height: 5rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    transition: all 0.4s;
    text-transform: uppercase;
    border: 0.1rem solid rgba(16, 49, 16, 0.815);
    border-radius: 0.1rem;
    box-shadow: .6rem .6rem 0rem rgba(0, 0, 0, 0.808);
    cursor: pointer;
}

.botones button:hover{
    background-color:   rgba(76, 196, 76, 0.938) ;
    box-shadow: .4rem .4rem 0rem rgba(0, 0, 0, 0.808);
    color: rgb(34, 77, 15);
}

.instrucciones{
    display: none;
    justify-content: space-around;
    position: absolute;
    top: 13rem;
    gap: 1rem;
    animation-name: fadeCards;
    animation-iteration-count:initial;
    animation-duration: .9s;
}

.instrucciones div{
    background-color: rgb(187, 152, 133);
    width: 25vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .3rem5;
    border: solid rgba(35, 83, 35, 0.938) .2rem;
    gap: 2rem;
}

.instrucciones div h2, .instrucciones div h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 1.3rem;
    color: whitesmoke;
    line-height: 1.7rem;
}

.instrucciones div img{
    border: solid rgba(35, 83, 35, 0.938) .2rem;
    padding: 0;
}

@keyframes fadeCards {
    from {
      opacity: 0.1%; }
    to {
      opacity: 100%; } }

.cardMovimiento{
    box-shadow: 0 0 0 100vmax rgb(0 0 0 / .9);
}

.cardMovimiento h2{
    letter-spacing: .3rem;
    margin-top: .6rem;
}

.cardSenderoAventura h3{
    letter-spacing: .4rem;
}

.cardJunglaInfinita h3{
    letter-spacing: .5rem;
}

.personajesModos{
    display: none;
    justify-content: space-around;
    gap: 3rem;
    position: absolute;
    top: 12rem;
    animation-name: fadeCards;
    animation-iteration-count:initial;
    animation-duration: .8s;
}

.personajesModos div{
    background-color: rgb(187, 152, 133);
    width: 25vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .3rem5;
    border: solid rgba(35, 83, 35, 0.938) .2rem;
    gap: 2rem;
    cursor: pointer;
    background-size: cover;
}

.personajesModos div h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 1.3rem;
    color: whitesmoke;
    line-height: 1.7rem;
}

.personajeModo1{
    box-shadow: 0 0 0 100vmax rgb(0 0 0 / .9);
}

.topPuntuaciones{
    display: none;
    position: absolute;
    top: 13rem;
    gap: 1rem;
    animation-name: fadeCards;
    animation-iteration-count:initial;
    animation-duration: .8s;
    background-color: rgb(187, 152, 133);
    width: 50vw;
    height: 35rem;
    padding: 7rem;
    border-radius: .3rem5;
    border: solid rgba(35, 83, 35, 0.938) .2rem;
    box-shadow: 0 0 0 100vmax rgb(0 0 0 / .9);
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.topPuntuaciones h4{
    color: rgb(49, 44, 44);
    text-shadow: .1rem -.1rem 0.1rem white;
}

.topPuntuaciones ol{
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-top: 3rem;
}

.topPuntuaciones ol li{
    margin: .5rem;
    width: 100%;
    
}

.loginUsuario{
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.671);
    box-shadow: .4rem .4rem 0rem rgba(0, 0, 0, 0.808);
    height: 30%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginUsuario p{
    text-align: center;
    margin: 1rem;
    font-size: 1.6rem;
    color: rgb(245, 77, 77);
    text-shadow: 0.2rem 0.2rem 0.1rem black;  
}

.loginUsuario button{
    font-family: 'Press Start 2P', cursive;
    background-color:rgba(51, 153, 51, 0.966); /* Green */
    border: none;
    color: rgb(224, 224, 224);
    height: 3rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
    transition: all 0.4s;
    text-transform: uppercase;
    border: 0.1rem solid rgba(16, 49, 16, 0.815);
    border-radius: 0.1rem;
    box-shadow: .4rem .4rem 0rem rgba(0, 0, 0, 0.808);
    cursor: pointer;
    margin: 1rem;
    width: 50%;
}

.loginUsuario button:hover{
    background-color:   rgba(76, 196, 76, 0.938) ;
    box-shadow: .3rem .3rem 0rem rgba(0, 0, 0, 0.808);
    color: rgb(34, 77, 15);
}